src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
 xmlns:http="http://www.mulesoft.org/schema/mule/http"
 xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
 xmlns:db="http://www.mulesoft.org/schema/mule/db"
 xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
 xmlns="http://www.mulesoft.org/schema/mule/core"
 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
 xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<http:listener-config name="HTTPListener8096" host="0.0.0.0" port="8096" doc:name="HTTP Listener Configuration" />

	<spring:beans>
		<spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database" />
	</spring:beans>

	<db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />

	<jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />

	<flow name="sayHello">
		<http:listener config-ref="HTTPListener8096" path="/hello" allowedMethods="GET" doc:name="HTTP" />
		<set-payload value="#['Hello Maven']" doc:name="Set Payload" />
	</flow>

	<flow name="retrieveFlights">
		<http:listener config-ref="HTTPListener8096" path="/flights" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<jms:outbound-endpoint queue="log" connector-ref="Active_MQ" doc:name="Produce to log queue" />
	</flow>

	<flow name="logDBResults">
		<jms:inbound-endpoint queue="log" connector-ref="Active_MQ" doc:name="Consume from log queue" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>
</mule>